.web-literacy {
  h3 {
    font-weight: 300;
    line-height: 1.375;
  }
  .web-map {
    text-align: center;
    .web-map-contents {
      margin: 3rem 0 3rem 0;
    }
    h2 {
      margin-bottom: 0;
    }
  }
  .inner-container {
    padding-bottom: 45px;
  }
  .illustration {
    .image-container {
      margin-bottom: 0;
      margin-top: 10px;
    }
    h2 {
      margin-top: 0;
    }
    @media screen and (min-width: @screen-sm-min) {
      padding-top: 8px;
      align-items: stretch;
      .image-container {
        margin-top: 10px;
      }
    }
  }
  .topic-item {
    .lighten {
      opacity: .5;
    }
    @media screen and (min-width: @screen-sm-min) {
      &.active {
        .illustration {
          align-items: center;
          .content-container {
            p {
              border-left: solid 1px rgba(0, 0, 0, 0.1);
              padding-left: 30px;
            }
          }
          .image-container {
            margin-top: 0;
          }
        }
      }
    }
  }
  .activity-item {
    .difficulty-link {
      min-width: 270px;
      display: inline-block;
      padding-right: 10px;
    }
    .fa {
      margin-right: 6px;
      opacity: .5;
    }
  }
  .web-lit-skill-item {
    .web-lit-skill-quote {
      border-left: solid 1px rgba(0,0,0,.1);
      padding-left: 18px;
      margin: 18px 0;
    }
    .web-lit-skill-paragraph {
      border-bottom: solid 1px rgba(0,0,0,.1);
      &:last-child {
        border-bottom: none;
      }
      padding-bottom: 10px;
    }
  }
  .weblit-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @problemsolving: #793575;
    @communication: #FAE695;
    @collaboration: #8BCA6C;
    @creativity: #136BB3;

    .circletree {
      width: 60%;
      display: inline-block;

      .segment {
        stroke: transparent;

        &.underlay  {
          fill: none!important;
          stroke: none!important;
        }
  
        &.base {
          fill: transparent;
        }

        &.depth-1 {
          fill: #EEE;
        }

        &.depth-2 {
          fill: #F5F5F5;
        }

        &.highlight:not(.leaf) {
          stroke: grey;
        }
      }

      .Problem-Solving {
        fill: @problemsolving;
      }
      .Communication {
        fill: @communication;
      }
      .Creativity {
        fill: @creativity;
      }
      .Collaboration {
        fill: @collaboration;
      }
    }

    .c21-skills {
      ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          width: 25rem;
          padding: 0.5rem;
          border-radius: 5px;

          .custom-checkbox-container {
            cursor: pointer;
            position: relative;
            .fa-check {
              opacity: 0;
              color: #FFFFFF;
              font-size: 12px;
            }
            .checkbox-label {
              cursor: pointer;
              display: inline-flex;
              align-items: center;
              .custom-checkbox {
                border-radius: 3px;
                margin-right: 5px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                box-shadow: inset 0 0 1px rgba(0,0,0,.5);
              }
            }
            .checkbox-input {
              cursor: pointer;
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
              width: 16px;
              height: 100%;
              margin: 0;
              padding: 0;
              &:checked + .checkbox-label {
                .fa-check {
                  opacity: 1;
                }
              }
            }
          }

          & + li {
            margin-top: 1em;
          }
          opacity: .5;

          &.active-skill {
            opacity: 1;
            &.PS .custom-checkbox-container .custom-checkbox {
              background: @problemsolving;
            }
            &.Com .custom-checkbox-container .custom-checkbox {
              background: @communication;
            }
            &.Cre .custom-checkbox-container .custom-checkbox {
              background: @creativity;
            }
            &.Col .custom-checkbox-container .custom-checkbox {
              background: @collaboration;
            }
          }
        }
      }
    }
  }
}
